
.container-podium .avatar-container:first-child, 
.container-podium .avatar-container:last-child
{
    margin-top: -6%; 
}
.container-podium{
    padding: 5%;
}
/* *{
    background-color: #D9D9D9;
} */

.pagination {
    display: inline-block;
    width: 7px; /* Size of the circles */
    height: 7px; /* Size of the circles */
    margin: 5px; /* Space between the circles */
    margin-top: 15px;
    /* background-color: red; */
    border-radius: 50%; /* Make it round */
    cursor: pointer;
}
.seperator::before{
    content: '';
    display: inline-block;
    height: 1.5em; 
    width: 2px; 
    background: linear-gradient(45deg, #8A0000, #4B7605);
    position: absolute;
    left: -0.09em;
}